/* -----Welcome styles----- */
.welcome {
  text-align: center;

  background-color: var(--bg-color-dark);

  padding: 200px 0;
}

.welcome-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--font-color-white);

  margin: 0 0 40px;
}

.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--font-color-white);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px var(--btn-boxshadow-color);
  border-radius: 4px;

  padding: 15px 32px;
}

/* -----Advantages styles----- */
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 90px 0;
}

.advantages-item {
  max-width: 270px;
}

.advantages-item-title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  text-align: left;
}

.advantages-item-text {
  margin-top: 10px;

  color: var(--font-color-secondary);
}

/* -----Visuals styles----- */
.visuals-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
}

.visuals-list {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 90px;
}

/* -----Team styles----- */
.team {
  background-color: var(--bg-color-secondary);

  padding: 90px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}

.team-list {
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
}

.team-mate {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;

  background-color: var(--bg-color-main);

  box-shadow: var(--team-mate-box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-mate-name {
  margin-top: 30px;

  font-weight: 500;
}

.team-mate-position {
  margin: 10px 0 30px;
  color: var(--font-color-secondary);
}
