/* ----Filter buttons list---- */

.filter.btn {
  outline: none;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: var(--font-color-main);
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
}

.btn:active,
.btn:hover,
.btn:focus {
  color: var(--font-color-white);

  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ----Projects list---- */
/* uncomment for better view */
/* .portfolio-list {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* check how to do half border */
.portfolio-item {
  text-align: left;
  border: 1px solid var(--border-color);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--font-color-main);
}

.portfolio-item-subtitle {
  font-size: 16px;
  line-height: 1.87;

  color: var(--font-color-secondary);
}

/* ---------Addressed to mentor---------

Alona Harnyk

https://prnt.sc/yiqpwc цвет не соответствует макету----------спасибо, пофиксил, не заметил разницы у себя на мониторе и пропустил этот момент.

https://prnt.sc/yiqvvv опечатка, Raleway----------спасибо, пофиксил

Обїединять нормализацию стилей и ваш код в одном файле не следует.----------пофиксил, подключил madern-normalize через cdn.

Жирность везде задавайте в цифрах, придерживайтесь единого подхода. -------пофиксил, на макете, во вкладке css указывает настройки css по-разному, где в цифрах, где словами.

Вісоту строку оптимальнее задавать в виде множителя.----------пофиксил, используя пример из конспекта (line-hrght:_px делил на font-size:_px), но там какие-то странные значения в lline-height получаются (типа 1.87, 1.62, 1.16, 1.71, 1.14 и тд) ------ вопрос: ЭТО нормально?

https://prnt.sc/yirlzu зачем? ------- это последствия моих экспериментов, убрал */
